// Color Theme Vars
$color-main: #23100C;
$color-secondary: #461111; 
$color-third: #EEF4DB;
$color-fourth: #F2F2F2;
$color-fifth: #24110D;
$color-sixth: #637577;
$color-seventh: #C8E2DF;

$color-dark: darken(#4d90ff, 20%);
$color-dark-accent: darken(#4d90ff, 30%);
$color-extra-dark: darken(#4d90ff, 40%);

$color-light: lighten(#4d90ff, 20%);
$color-light-accent: lighten(#4d90ff, 30%);
$color-extra-light: lighten(#4d90ff, 40%);

$color-white: rgba(250, 250, 250, 0.99);
// $color-white: #fff;
$color-black: #000;

$f: $color-white;
$b: $color-black;

$paragraph_text: #707070;

// Shorthand scss Variables
$m: $color-main;
$se: $color-secondary;


// CSS Variables

:root {
  --m: #{$m};
  --s: #{$se};
  
}




