/* BUTTON STYLES */

.btn-container {

  flex-wrap: wrap;
  @media screen and (max-width: 992px) {
  }
}

// main button container

.ui-btn {
  display: flex;
  color: $f;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: $font-secondary;
  text-transform: uppercase;
  opacity: 1;
  background-color: $color-secondary;
  padding: 15px 0;
  justify-content: center;
  width: 269px;
  transition: 0.3s;
  line-height: 21px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 0.9375rem;

  @include isSmall {
    font-size: 1rem;
  }


  &:hover {
    text-decoration: none;
    transition: 0.3s;
    transform: scale(0.95);
    opacity: 0.5;
  }



  &.ui-btn-blue {
    background-color: transparent;
    color: $color-fourth;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin: 0 15px;
    }
  }

  &.ui-btn-arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-main;

    @include isLarge {
      width: 80px;
      height: 80px;
    }

    img {
      width: 21;
      height: 20px;

      @include isLarge {
        width: 31px;
        height: 30px;
      }
    }

  }

}


