// Footer

#main {
  background-color: #fff;

  section.footer-main {
    padding-bottom: 50px;


  .container {
    display: flex;
    justify-content: space-between;

    width: 100%;

    @include isXLarge {
      width: 80%;
    }
  

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
    .content {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-content: center;
      
  
      .block-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 

        .footer-logo {
          margin-bottom: 20px;
        }
      

        .col-container {
          margin-bottom: 30px;
          text-align: center;
          width: 100%;
        



          
          .col-items {
            display: flex;
            flex-direction: column;
            align-items: center;

            .col-item {
              display: flex;
              justify-content: space-between;
              width: 100%;
              flex-direction: column;
              align-items: center;


              @include isLarge {
                flex-direction: row;
              }


              span.item {

                
                  display: flex;
                  flex-direction: column;
                  align-items: center;

                  @include isLarge {
                    align-items: flex-start;
                  }
         

                a.footer-link {
                  color: $b;
                  line-height: 35px;
                  font-size: 1.125rem;
                  font-family: $font-secondary;
                  font-weight: normal;
                  text-transform: uppercase;

                  &:hover {
                    text-decoration: none;
                    opacity: 0.5;
                  }
                }




              }
              
            }


            

          }
        }


        .contact-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
       

          a.footer-link {
            color: $b;
            line-height: 35px;
            font-size: 1.125rem;
            font-family: $font-secondary;
            font-weight: normal;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;


            &:hover {
              text-decoration: none;
              opacity: 0.5;
            }
          }

          p {
            margin-bottom: 50px;
          }

     
        }

        .social {
          display: flex;

          a {
            margin: 0 20px;
            &:hover {
              text-decoration: none;
              opacity: 0.5;
            }
          }
        }


      }



    }
  }

     // copywrite
     .footercopy {
      // padding: 7px 0 0;
      position: relative;
      z-index: 1;
  
  
      .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        // margin-bottom: 55px;
        padding: 0;
        margin: 0;
        max-width: 100%;
      }
  
  
      @media screen and (max-width: 700px) {
        margin-top: 0;
      }
      .socialbar {
        display: flex;
        @media screen and (max-width: 700px) {
          padding: 0 0 20px;
        }
      }
  
      .row {
        width: 100%;
  
        &:nth-child(1) {
         
          @include isLarge {
            // margin-top: 30px;
          }
  
          .flexcen {
  
            .copy__content {
  
              a {
  
                &::before {
                  display: none
                }
  
                &:hover {
                  opacity: 0.5;
                }
              }
            }
          };
          
        }
  
        &:nth-child(2) {
          background-color: $color-main;
          display: flex;
          justify-content: center;
          padding: 10px 15px;
    
          @include isLarge{
            justify-content: center;
          }
          
          .flexcen {
            margin: 0;
            flex-direction: column;
            align-items: center;
  
            @include is1700 {
              flex-direction: row;
            }
    
            .copy__content {
              margin: 0 auto;
              color: $f;
  
              span {
                color: $f;
                a {
                  color: $f;
                  font-size: 1rem;
                  font-family: $font-secondary;
                  line-height: 1.5;
                  font-weight: 400;
                  text-transform: uppercase;
                  
                  &::before {
                    display: none;
  
                  }
  
                  &:hover {
                    opacity: 0.5;
                  }
                }
              }
            }
  
          }
    
        }
  
        .footer-links {
        
          
         @include isLarge {
          padding-left: 10px;
         }
          
  
          @include is1700 {
            position: absolute;
            right: 15px;
          }
  
          a {
            font-weight: 400;
          }
        }
      }
  
  
      .flexcen {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
   
        
        @media screen and (max-width: 1200px) {
          flex-direction: column;
        }
      }
  
      .flexcen .copy__content {
        margin: 0 auto;
        color: $f;
        font-weight: 400;
        text-transform: capitalize;
        font-size: 1rem;
  
        @media screen and (max-width: 700px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      span.l {
        margin: 0 5px;
        color: $f;
  
        font-size: 1rem;
        font-weight: normal;
        font-family: $font-secondary;
        @media screen and (max-width: 700px) {
          display: none;
        }
      }
      .copy__content a {
        color: $f;
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: normal;
        font-weight: 400;
        font-family: $font-secondary;
      }
  
      .flexcen {
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 ;
        // margin: 0 auto 20px;
        font-weight: normal;
  
       
        justify-content: space-between
      }
  
    }
  
}



