// Request Appointment Form

// Input styles
@mixin selectStyles {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  text-align: left;
  box-shadow: none;
  font-size: 14px;
  letter-spacing: 1px;
  height: auto;
  border: none;
  background-color: $f;
  line-height: 20px;

  font-size: 0.875rem;
  letter-spacing: 0em;
  background-color: $f;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 12px 15px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
}

@mixin placeholderText {
  color: $b;
  font-style: normal;
  line-height: 30px;
  font-size: 16px;
  font-weight: normal;
  font-size: 0.875rem;
  letter-spacing: 0em;
  line-height: 1.875;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
  

  @include is1500 {
    font-size: 1rem;
  }
}

input.form-control {
  @include selectStyles;

  
  &::placeholder {
    @include placeholderText;
  }

  &:hover {

  }

  // &:focus {
  //   outline: none;
  //   box-shadow: none;

  // }
  line-height: 1.5;
  
  @include is1500 {
    font-size: 1rem;
    // line-height: 45px;
  }

  color: $b;
  font-weight: 500;
  background-color: $f;
  border: 1px solid $color-secondary;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;
}

select.form-control {
  background: transparent
    url("../../../../img/polygon.svg")
    no-repeat right 1.5rem center/20px 20px;
  @include selectStyles;

  border-radius: 30px;

  text-transform: uppercase;


  option {
    text-transform: uppercase;
  }

  &::placeholder {
    @include placeholderText;

    font-size: 1rem;
    
  }


  &:hover {

  }

  // &:focus {
  //   outline: none;
  //   box-shadow: none;
  // }

  color: $b;
  font-size: 1rem;
  background-color: $f;

  border: 1px solid $color-secondary;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;
}

textarea.form-control {
  @include selectStyles;

  &::placeholder {
    @include placeholderText;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 11px 7px rgba(0, 0, 0, 0.11);
    color: #515252;
  
    &::placeholder {
      color: #515252;
    }
  }

 

}
