// --------------------------------------------------------------------------
// SECTION STYLES
// --------------------------------------------------------------------------

section.welcome {
  position: relative;
  display: flex;
  align-items: center;
  // margin-top: 150px;
  min-height: 100vh;

  @include isLarge {
    // margin-top: 128px;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;


    picture {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 1240px) {

      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
      }
    }

   
  }

  .container {
    position: relative;
    // padding: ;

    height: 900px;
    padding: 0 15px;

    @include isLarge {
      padding: 0;
    }

    .content {
      height: 100%;

      .col-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;


        .col-item {
          width: 100%;

          @include is1100 {
            width: 50%;
          }



          p {
            text-align: center;
            color: $b;
          }


          .btn-container {
            display: flex;
            justify-content: center;
            margin-top: 30px;
          }

          .col-img {
            // margin: 0 auto;

            img {
              margin: 0 auto;
            }

            
          }


          &:nth-child(1) {
            margin-top: 100px;
          }

          &:nth-child(2) {
            margin-bottom: 60px;
          }

  
        }
      }
    }
  }
}


section.iv-therapy {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // min-height: 900px;
  // padding: 0 0 100px;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;


    picture {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 1240px) {

      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        @media screen and (max-width: 700px) {
          // opacity: 0.3;
          // object-position: 75%;
        }
      }
    }

   
  }

  .container {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    padding: 50px 10px;

    @include isLarge {
      padding: 100px 0;
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .col-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;

        @include isLarge {
          flex-direction: row;
          justify-content: flex-end;
        }

        .col-item {
          width: 100%;
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: $f;
          padding: 25px;

          
          @include isLarge {
            width: 45%;
          }
       

 

          div.col-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 3px solid $color-main;
            padding: 50px 15px;

            @include isLarge {
              padding: 100px 70px;
              align-items: flex-start;
            }

            h1 {
              text-align: center;
              
  
              @include isLarge {
                text-align: left;
                margin-bottom: 0;
              }
            }
    
            
            p {
              
              text-align: center;
              width: 100%;
              margin: 0 auto;
             
  
              @include isLarge {
                margin-top: 40px;
                text-align: left;
                margin-bottom: 0;
              }
            }
      
            .btn-container {
              margin-top: 50px;
              position: relative;
              z-index: 999;
              display: flex;
              gap: 15px;
              flex-direction: column;
              align-items: center;
              
      
              @include isLarge {
                flex-direction: row;
              }
  
  
            }
          } 



        }
      }


    }

  }
 

}

section.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;


    picture {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 1240px) {

      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        @media screen and (max-width: 700px) {
          // opacity: 0.3;
          // object-position: 75%;
        }
      }
    }

   
  }

  .container {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    padding: 0 50px 100px;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .col-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;

        @include isLarge {
          flex-direction: row;
          justify-content: flex-start;
        }

        .col-item {
          width: 100%;
          width: 100%;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background-color: $f;
          padding: 25px;

          
          @include isLarge {
            width: 50%;
          }
       

 

          div.col-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 3px solid $color-main;
            padding: 100px 70px 70px;

            h2 {
              text-align: center;
              margin-bottom: 0;
  

            }

            h3 {
              line-height: 1;
              text-align: center;
            }
    
            
            p {
              margin-bottom: 0;
              text-align: center;
              width: 100%;
              margin: 0 auto;
             
  
              @include isLarge {
                margin-top: 40px;
              }
            }
      
            .btn-container {
              margin-top: 50px;
              position: relative;
              z-index: 999;
              display: flex;
              gap: 15px;
              flex-direction: column;
              align-items: center;
              
      
              @include isLarge {
                flex-direction: row;
              }
  
  
            }
          } 



        }
      }


    }

  }
 

}


section.col-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;

  @include isRetina {
    min-height: 700px;
  }


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;


    picture {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 1240px) {

      }

      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        @media screen and (max-width: 700px) {
          // opacity: 0.3;
          // object-position: 75%;
        }
      }
    }

   
  }
}

section.team {
  position: relative;
  padding: 70px 0 30px;
  display: flex;
  align-items: center;


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      object-position: top;
      height: 100%;
      width: 100%;
    }
  }

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    padding: 0;
    max-width: 100%;
    margin: 0;


    .content {
      width: 100%;

      .testimonial-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h2 {
          text-align: center;
          margin-bottom: 0;
        }

        h3 {
          width: 80%;
          margin: 0 auto;
          text-align: center;
          line-height: 1.2;
        }

        .slide-container {  
          width: 100%;
          padding: 100px 0 50px;

          @include isLarge {
            width: 95%;
            // padding: 200px 0 50px;
          }

          @include isXLarge {
            // padding: 150px 50px;
          }
          
          @include is1700 {
            // padding: 250px 0 50px;
            padding: 150px 0 50px;
          }
  
          .slide-content {
            display: flex;
  
            .card {
              background: transparent;
              border: none;
             
  
              .card-content {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-bottom: 40px;
                margin: 0 auto;
                width: 90%;
                // padding: 50px 20px;
                border: 3px solid $color-main;

                @include isLarge {
                  padding: 0 20px;
                }

                @include isXLarge {
                  padding: 10px 20px;
                }

                @include isRetina {
                  padding: 50px 20px;
                }


          
                .image-content {
                  width: 40%;
                  position: absolute;
                  bottom: 0;
                  left: 8%;

                  @include isLarge {
                    height: 500px;
                    width: 400px;
                  }

                  @include isXLarge {
                    height: 550px;
                    width: 450px;
                  }
           

                  @include isRetina {
                    left: 10%;
                    height: 700px;
                    width: 600px;
                  }

        

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }

                .text-content {
                  background-color: transparent;
                  padding: 20px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: center;
                  width: 60%;
                  z-index: 1;

                  @include isMedium {
                    padding: 25px 25px 25px 50px;
                  }

                  h4 {
                    font-size: 2rem;
                    color: $color-main;

                    @include isLarge {
                      font-size: 2rem;
                    }
          
                    @include isXLarge {
                      font-size: 3rem;
                    }
                  }

                  
                  .team-name {
                    font-size: 1.2rem;


                    @include isRetina {
                      font-size: 1.7rem;
                    }
                  }

                  .btn-container {
                    margin-top: 30px;

                    @include isRetina {
                      margin-top: 50px;
                    }
                  }
                }

              }
            }
          }

          .swiper-pagination{
            position: absolute;
            bottom: 0px;
    
            @media screen and (max-width: 500px) {
              bottom: 0px;
            }
          }
    
          .swiper-pagination-bullet{
            height: 10px;
            width: 100px;
            border-radius: 1px;
            margin: 0 5px;
            background: #000000;
            height: 14px;
            width: 14px;
            border-radius: 50%;
    
            @media screen and (max-width: 500px) {
              height: 14px;
              width: 14px;
              margin: 0 5px;
    
            }
    
          }

          span.swiper-pagination-bullet.swiper-pagination-bullet-active {
            background-color: #000000;
          }
    
          .swiper-button-next, .swiper-button-prev{
            opacity: 0.7;
            color: $color-secondary;
            transition: all 0.3s ease;
            height: 60px;
            width: 60px;
            background-color: $color-secondary;
            border-radius: 50%;
            
          }
          .swiper-button-prev {
            transform: rotate(180deg);
          }
    
          .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
            display: none;
          }
    
          .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
            content:  none;
          }
        }
      }
       
    }
  }
}

section.iv-infusion {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 70px 0 0;
  overflow: hidden;


  @include isRetina {
    padding: 100px 0 0;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;


    picture {
      width: 100%;
      height: 100%;



      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        opacity: 0.3;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        @media screen and (max-width: 700px) {
          // opacity: 0.3;
          // object-position: 75%;
        }
      }
    }

   
  }

  .container {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    max-width: 90%;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      
      h2 {
        text-align: center;
        margin: 0;

        @include isLarge {
          text-align: left;
        }
      }

      
      p {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        @include isLarge {
          width: 70%;
        }

        @include isRetina {
          width: 60%;
        }
      }


      .col-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px;


        @include isLarge {
          margin-top: 70px;

        }

        .col-item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          .card-wrapper {
            // width: 30%;
            margin-bottom: 40px;
            border: 2px solid $color-secondary;
            position: relative;
            margin: 0 10px 40px;
            position: relative;


            .img-wrapper {
              z-index: 0;
              position: relative;



              &::after {
                content: close-quote;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: rgb(0,0,0);
                background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5298494397759104) 100%);
                background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5298494397759104) 100%);
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5298494397759104) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
                height: 100%;
              }
              

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }


            .text-content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              width: 100%;
              position: absolute;
              bottom: 0;
              // z-index: 999;
              padding: 0 20px;
              padding-bottom: 20px;

              h4 {
                font-weight: 400;
                font-family: $font-secondary;
                text-align: left;
                margin: 0;
                margin-bottom: 10px;
                letter-spacing: 0;
              }
  
              p {
                text-align: left;
                margin: 0;
                color: $f;
                width: 100%;
              }


              .btn-container {
                // display: none;
                width: 100%;
                display: flex;
                justify-content: flex-end;
              }
            }



 

          }
    

        }
      }


    }

  }
 

}

section.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 70px 0 ;
  overflow: hidden;


  @include isRetina {
    padding: 100px 0 ;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;


    picture {
      width: 100%;
      height: 100%;



      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        @media screen and (max-width: 700px) {
          // opacity: 0.3;
          // object-position: 75%;
        }
      }
    }

   
  }

  .container {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    max-width: 90%;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      
      h2 {
        text-align: center;
        margin: 0;
        color: $f;

        @include isLarge {
          text-align: left;
        }
      }

      
      p {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        @include isLarge {
          width: 70%;
        }

        @include isRetina {
          width: 60%;
        }
      }


      .col-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px;

        .col-item {
          // width: 100
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          flex-wrap: wrap;


          .card-wrapper {
            width: 30%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 20px;
            // margin-bottom: 50px;
         

            @include isRetina {
              max-width: 482px;
            }



            .img-wrapper {
              z-index: 0;
    
              

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }


            .text-content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              width: 100%;
              padding-right: 20px;
 
              h4 {
                font-weight: 400;
                font-family: $font-secondary;
                text-align: left;
                text-transform: none;
                margin: 30px 0 20px;
                letter-spacing: 0;
              }
  
              p {
                text-align: left;
                margin: 0;
                color: $f;
                width: 100%;
              }


              .btn-container {
                // display: none;
                // width: 100%;/
                // display: flex;
                // justify-content: flex-end;

                a {
                  width: 100%;
                  position: relative;
                  color: $f;
                

                  @include isLarge {
                    margin-left: -10px;

                  }
                }
              }
            }



 

          }
    

        }
      }


    }

  }
 

}

section.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 0 0 50px;

  @include isRetina {
      min-height: 100vh;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;


    picture {
      width: 100%;
      height: 100%;

      @media screen and (max-width: 1240px) {

      }

      img {
        object-fit: cover;
        object-position: right;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        @media screen and (max-width: 700px) {
          // opacity: 0.3;
          // object-position: 75%;
        }
      }
    }

   
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    @include isLarge {
      flex-direction: row;
      width: 100%;
      padding: 0;
    }

 


    .formcontent {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      border: 3px solid $color-main;
      border-right: none;
      position: relative;
      // border-radius: 80px;
      padding: 25px 0;

      @include isLarge {
        flex-direction: row;
        width: 52%;
        padding: 80px 30px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../../../../img/bottom-right.png");
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        opacity: 0.5;

        @include isLarge {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../../../../img/top-left.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        bottom: 0;
        right: 0;
        opacity: 0.5;

        @include isLarge {
          opacity: 1;
        }
      }

  
      .content-container {
        display: flex;
        flex-direction: column;
        z-index: 1;
        width: 100%;



        .content {
          width: 100%;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          text-align: center;
          padding: 0 15px;
  
          h2 {
            line-height: 1.5;
            text-align: center;
            margin: 0;
          }


  
          p {
            width: 100%;
            text-align: center;
            margin: 50px 0 0;

            @include isXLarge {
              width: 70%;
              margin: 40px auto 0;
            }


            @include isRetina {
              width: 50%;
              
            }
 
        
            a {
               color: $b;
               font-size: 1rem;

              &:hover {
                opacity: 0.5;
              }


            }
          }
        }
  
        form {
          width: 
          100%;
          
          @include isLarge {
            width: 100%;

            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
           
          }

          @include isRetina {
            width: 100%;
          }

          
        }
  
        .formpwrap {
          display: flex;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 0 auto;
      
          .input {
            width: 100%;
            padding: 10px;
  
            @include isMedium {
              width: 45%;
            }

            label {
              display: none;
            }


            input, select {
              &:focus {
                border: 1px solid $b;
                box-shadow: none;
              }
            }

         
          }
        }

  
        button.ui-btn {
          border: none;
          margin-bottom: 10px;
          color: $f;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 50px auto 50px;
          font-size: 1rem;
          width: 150px;
      


          @include isLarge {
            margin: 50px auto 25px;
          }


          &:hover {
            opacity: 0.5;
          }
  
        }


        &:nth-child(2) {
          width: 100%;
          height: 100%;

          @include isLarge {
            width: 45%;
            
          }

          .col-map {
            width: 100%;
            height: 100%;

            iframe {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .image-container {
      width: 100%;
      margin-top: 50px;
      

      @include isLarge {
        width: 50%;
        margin-top: 0;
      }

      img {
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
